.material-icons{
 cursor: pointer;
}

.like-count{
  margin-right: 10px;
}

.collection-item{
  display: flex;
  justify-content: space-between;
}

.vote-box{
  display: flex;
  align-items: center;
}
